In [1]:
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
from datetime import datetime

#get data from worldbank
from pandas_datareader import wb

import glob
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import json
import matplotlib.pyplot as plt

InteractiveShell.ast_node_interactivity = "all"
pd.options.display.max_rows = 200
#matplotlib.rcParams['svg.fonttype'] = 'none'

from country_bounding_boxes import *

In [7]:
countries = pd.read_csv('../sea level/context_data/sealevel_viz_psmsl_1985_2015.csv', usecols=[7])

countries = countries.drop_duplicates()

countries.rename(columns={'country': 'iso3-code'}, inplace=True)

countries = countries.reset_index()

countries = countries.drop('index', 1)

countries.head()

  iso3-code
0       FRA
1       GBR
2       DEU
3       NLD
4       USA

In [8]:
countries.describe()

       iso3-code
count         58
unique        58
top          IND
freq           1

In [30]:
#parse file

def get_country_box(iso_code):
    countries = pd.DataFrame(columns=['iso3-code', 'name', 'box'])
    country_box = [c.bbox for c in country_subunits_by_iso_code(iso_code)]
    country_name = [c.name for c in country_subunits_by_iso_code(iso_code)]
    countries['box'] = country_box
    countries['name'] = country_name
    countries['iso3-code'] = iso_code
    
    return countries


df = pd.concat([get_country_box(iso_code) for iso_code in countries['iso3-code']])

In [31]:
df['lon1'], df['lat1'], df['lon2'], df['lat2'] = zip(*df.box)

df.head()

,iso3-code,name,box,lon1,lat1,lon2,lat2
0,FRA,France,"(-4.7625, 42.3404785156, 8.14033203125, 51.097...",-4.762500,42.340479,8.140332,51.097119
1,FRA,Corsica,"(8.565625, 41.3849121094, 9.5564453125, 43.021...",8.565625,41.384912,9.556445,43.021484
0,GBR,Scotland,"(-7.54296875, 54.689453125, -0.774267578125, 6...",-7.542969,54.689453,-0.774268,60.831885
1,GBR,England,"(-5.65625, 50.0213867188, 1.74658203125, 55.80...",-5.656250,50.021387,1.746582,55.807959
2,GBR,N. Ireland,"(-8.14482421875, 54.0512695312, -5.47041015625...",-8.144824,54.051270,-5.470410,55.241797

In [33]:
df.to_csv('country_bounding_boxes.csv')